/* .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e5dada;
  }
  
  .login-form form {
    width: 300px;
    padding: 20px;
    border: 1px solid #242fab;
    border-radius: 10px;
  }
  
  .login-form form label {
    margin-bottom: 5px;
    display: block;
  }
  
  .login-form form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .login-form form button {
    background-color: #ccc; 
    color: #333; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: default; 
  } */

  .login-container {
    margin-top: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .login-container form {
    margin-top: 20px;
  }
  
  .login-container form label {
    font-weight: bold;
  }
  
  .login-container form input {
    margin-bottom: 15px;
  }
  